### Calculationg commuting instances and time:

TODO:
- missing values
- commuting instances

In [1]:
import pandas as pd

# Load the provided pkl file
file_path = 'C:/Users/Tomar/dev/vehicle_indoor_comfort/summer_2023/output/selected_E4_features/S01_selected_features.pkl'
df = pd.read_pickle(file_path)

# Display the first few rows of the dataset and check for missing values
df.head(), df.isna().sum()

(                     hrv_vlf  hrv_lf  hrv_hf  hrv_sdnn  hrv_rmssd  \
 DateTime
 2023-09-05 06:34:02      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:03      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:04      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:05      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:06      NaN     NaN     NaN       NaN        NaN

                      hrv_mean_nni  hrv_median_nni  hrv_range_nni  hrv_entropy  \
 DateTime
 2023-09-05 06:34:02           NaN             NaN            NaN          NaN
 2023-09-05 06:34:03           NaN             NaN            NaN          NaN
 2023-09-05 06:34:04           NaN             NaN            NaN          NaN
 2023-09-05 06:34:05           NaN             NaN            NaN          NaN
 2023-09-05 06:34:06           NaN             NaN            NaN          NaN

                      eda_tonic_mean  ...  acc_acc_z_min  acc_l2_min  \
 DateTime                             ...
 2023-09-05 06:34:02        0.012591  ...         -128.0   17.521415
 2023-09-05 06:34:03        0.013776  ...         -128.0   17.521415
 2023-09-05 06:34:04        0.014053  ...         -128.0   17.521415
 2023-09-05 06:34:05        0.014129  ...         -128.0   17.521415
 2023-09-05 06:34:06        0.013315  ...         -128.0   17.521415

                      acc_acc_x_max  acc_acc_y_max  acc_acc_z_max  acc_l2_max  \
 DateTime
 2023-09-05 06:34:02          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:03          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:04          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:05          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:06          127.0          127.0          127.0  199.459269

                      acc_acc_x_ptp  acc_acc_y_ptp  acc_acc_z_ptp  acc_l2_ptp
 DateTime
 2023-09-05 06:34:02          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:03          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:04          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:05          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:06          255.0          197.0          255.0  181.937854

 [5 rows x 29 columns],
 hrv_vlf              26523
 hrv_lf               26523
 hrv_hf               26523
 hrv_sdnn             26523
 hrv_rmssd            26523
 hrv_mean_nni         26523
 hrv_median_nni       26523
 hrv_range_nni        26523
 hrv_entropy          26523
 eda_tonic_mean           0
 eda_tonic_std            0
 eda_tonic_sum            0
 eda_tonic_energy         0
 eda_phasic_mean          0
 eda_phasic_std           0
 eda_phasic_sum           0
 eda_phasic_energy        0
 acc_acc_x_min            0
 acc_acc_y_min            0
 acc_acc_z_min            0
 acc_l2_min               0
 acc_acc_x_max            0
 acc_acc_y_max            0
 acc_acc_z_max            0
 acc_l2_max               0
 acc_acc_x_ptp            0
 acc_acc_y_ptp            0
 acc_acc_z_ptp            0
 acc_l2_ptp               0
 dtype: int64)

In [2]:
# Apply linear interpolation to fill missing values for HRV df
df_interpolated = df.interpolate(method='linear')

# Check if there are still any missing values after interpolation
df_interpolated.isna().sum(), df_interpolated.head()

(hrv_vlf              695
 hrv_lf               695
 hrv_hf               695
 hrv_sdnn             695
 hrv_rmssd            695
 hrv_mean_nni         695
 hrv_median_nni       695
 hrv_range_nni        695
 hrv_entropy          695
 eda_tonic_mean         0
 eda_tonic_std          0
 eda_tonic_sum          0
 eda_tonic_energy       0
 eda_phasic_mean        0
 eda_phasic_std         0
 eda_phasic_sum         0
 eda_phasic_energy      0
 acc_acc_x_min          0
 acc_acc_y_min          0
 acc_acc_z_min          0
 acc_l2_min             0
 acc_acc_x_max          0
 acc_acc_y_max          0
 acc_acc_z_max          0
 acc_l2_max             0
 acc_acc_x_ptp          0
 acc_acc_y_ptp          0
 acc_acc_z_ptp          0
 acc_l2_ptp             0
 dtype: int64,
                      hrv_vlf  hrv_lf  hrv_hf  hrv_sdnn  hrv_rmssd  \
 DateTime
 2023-09-05 06:34:02      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:03      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:04      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:05      NaN     NaN     NaN       NaN        NaN
 2023-09-05 06:34:06      NaN     NaN     NaN       NaN        NaN

                      hrv_mean_nni  hrv_median_nni  hrv_range_nni  hrv_entropy  \
 DateTime
 2023-09-05 06:34:02           NaN             NaN            NaN          NaN
 2023-09-05 06:34:03           NaN             NaN            NaN          NaN
 2023-09-05 06:34:04           NaN             NaN            NaN          NaN
 2023-09-05 06:34:05           NaN             NaN            NaN          NaN
 2023-09-05 06:34:06           NaN             NaN            NaN          NaN

                      eda_tonic_mean  ...  acc_acc_z_min  acc_l2_min  \
 DateTime                             ...
 2023-09-05 06:34:02        0.012591  ...         -128.0   17.521415
 2023-09-05 06:34:03        0.013776  ...         -128.0   17.521415
 2023-09-05 06:34:04        0.014053  ...         -128.0   17.521415
 2023-09-05 06:34:05        0.014129  ...         -128.0   17.521415
 2023-09-05 06:34:06        0.013315  ...         -128.0   17.521415

                      acc_acc_x_max  acc_acc_y_max  acc_acc_z_max  acc_l2_max  \
 DateTime
 2023-09-05 06:34:02          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:03          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:04          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:05          127.0          127.0          127.0  199.459269
 2023-09-05 06:34:06          127.0          127.0          127.0  199.459269

                      acc_acc_x_ptp  acc_acc_y_ptp  acc_acc_z_ptp  acc_l2_ptp
 DateTime
 2023-09-05 06:34:02          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:03          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:04          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:05          255.0          197.0          255.0  181.937854
 2023-09-05 06:34:06          255.0          197.0          255.0  181.937854

 [5 rows x 29 columns])

In [3]:
# Drop remaining rows with missing values
df = df_interpolated.dropna()

# Check the summary to ensure no missing values remain
df.isna().sum(), df.head()

(hrv_vlf              0
 hrv_lf               0
 hrv_hf               0
 hrv_sdnn             0
 hrv_rmssd            0
 hrv_mean_nni         0
 hrv_median_nni       0
 hrv_range_nni        0
 hrv_entropy          0
 eda_tonic_mean       0
 eda_tonic_std        0
 eda_tonic_sum        0
 eda_tonic_energy     0
 eda_phasic_mean      0
 eda_phasic_std       0
 eda_phasic_sum       0
 eda_phasic_energy    0
 acc_acc_x_min        0
 acc_acc_y_min        0
 acc_acc_z_min        0
 acc_l2_min           0
 acc_acc_x_max        0
 acc_acc_y_max        0
 acc_acc_z_max        0
 acc_l2_max           0
 acc_acc_x_ptp        0
 acc_acc_y_ptp        0
 acc_acc_z_ptp        0
 acc_l2_ptp           0
 dtype: int64,
                        hrv_vlf     hrv_lf      hrv_hf   hrv_sdnn  hrv_rmssd  \
 DateTime
 2023-09-05 06:45:37  18.329938  74.486805  307.793673  33.022641  47.048291
 2023-09-05 06:45:38  34.752347  89.916912  300.479521  33.091427  45.721484
 2023-09-05 06:45:39  12.336668  74.660664  259.660887  32.217303  46.875000
 2023-09-05 06:45:40  10.063258  64.495943  269.992257  31.362872  45.765375
 2023-09-05 06:45:41  37.751870  69.041670  315.952129  33.684902  46.744610

                      hrv_mean_nni  hrv_median_nni  hrv_range_nni  hrv_entropy  \
 DateTime
 2023-09-05 06:45:37    777.343750          781.25        140.625     2.771736
 2023-09-05 06:45:38    779.411765          781.25        140.625     2.832357
 2023-09-05 06:45:39    778.782895          781.25        140.625     2.943622
 2023-09-05 06:45:40    778.906250          781.25        140.625     2.994956
 2023-09-05 06:45:41    781.994048          781.25        140.625     3.043634

                      eda_tonic_mean  ...  acc_acc_z_min  acc_l2_min  \
 DateTime                             ...
 2023-09-05 06:45:37        0.016847  ...          -50.0        23.0
 2023-09-05 06:45:38        0.016985  ...          -50.0        23.0
 2023-09-05 06:45:39        0.017323  ...          -50.0        23.0
 2023-09-05 06:45:40        0.017882  ...          -50.0        23.0
 2023-09-05 06:45:41        0.018158  ...          -50.0        23.0

                      acc_acc_x_max  acc_acc_y_max  acc_acc_z_max  acc_l2_max  \
 DateTime
 2023-09-05 06:45:37           43.0          113.0          127.0  197.263783
 2023-09-05 06:45:38           43.0          113.0          127.0  197.263783
 2023-09-05 06:45:39           43.0          113.0          127.0  197.263783
 2023-09-05 06:45:40           43.0          113.0          127.0  197.263783
 2023-09-05 06:45:41           43.0          113.0          127.0  197.263783

                      acc_acc_x_ptp  acc_acc_y_ptp  acc_acc_z_ptp  acc_l2_ptp
 DateTime
 2023-09-05 06:45:37          171.0          173.0          177.0  174.263783
 2023-09-05 06:45:38          171.0          173.0          177.0  174.263783
 2023-09-05 06:45:39          171.0          173.0          177.0  174.263783
 2023-09-05 06:45:40          171.0          173.0          177.0  174.263783
 2023-09-05 06:45:41          171.0          173.0          177.0  174.263783

 [5 rows x 29 columns])

In [4]:
# Calculate the differences in timestamps
time_differences = df.index.to_series().diff().dropna()

# Display the statistics and some of the larger gaps
time_differences.describe(), time_differences[time_differences > pd.Timedelta('1 minute')]

(count                        93687
 mean     0 days 00:00:22.139784601
 std      0 days 00:39:13.049002900
 min                0 days 00:00:01
 25%                0 days 00:00:01
 50%                0 days 00:00:01
 75%                0 days 00:00:01
 max                6 days 15:51:58
 Name: DateTime, dtype: object,
 DateTime
 2023-09-07 06:50:36   1 days 23:54:15
 2023-09-08 14:26:46   1 days 07:00:05
 2023-09-08 21:01:49   0 days 05:48:22
 2023-09-10 07:49:52   1 days 10:18:59
 2023-09-12 15:51:00   2 days 07:33:21
 2023-09-15 06:49:47   2 days 14:25:13
 2023-09-15 14:09:01   0 days 06:26:54
 2023-09-22 15:53:27   6 days 15:51:58
 2023-09-23 08:24:01   0 days 16:16:18
 2023-09-23 14:25:54   0 days 02:28:57
 2023-09-25 06:23:57   1 days 15:18:18
 2023-09-25 09:23:06   0 days 02:24:22
 2023-09-25 15:57:09   0 days 06:17:13
 2023-09-26 06:49:18   0 days 14:29:22
 2023-09-26 08:21:32   0 days 00:47:18
 2023-09-27 06:17:42   0 days 18:17:06
 2023-09-27 12:53:26   0 days 06:00:40
 2023-09-27 13:46:24   0 days 00:33:15
 2023-09-28 04:17:19   0 days 14:02:05
 2023-09-28 19:02:44   0 days 14:33:24
 2023-09-29 06:30:58   0 days 11:20:09
 Name: DateTime, dtype: timedelta64[ns])

In [5]:
# Identify the breaks in df longer than 1 minute
breaks = time_differences[time_differences > pd.Timedelta('1 minute')].index

# Extract indices for the start and end of commuting periods
start_indices = [df.index[0]] + list(breaks + pd.Timedelta('1 second'))
end_indices = list(breaks - pd.Timedelta('1 second')) + [df.index[-1]]

# Create a new DataFrame based on the original df and assign the commuting labels
df['Commuting'] = None  # Initialize the column

# Assign the commuting labels
commute_count = 1
for start, end in zip(start_indices, end_indices):
    df.loc[start:end, 'Commuting'] = f'S01_{commute_count}'
    commute_count += 1

# # Attempt to save the original df to a CSV file again
# outpath = 'C:/Users/Tomar/dev/vehicle_indoor_comfort/summer_2023/output/process_data/'
# df.to_csv(outpath)


# Check the new structure by displaying a sample from the updated DataFrame
df.head(), df['Commuting'].unique()

C:\Users\Tomar\AppData\Local\Temp\ipykernel_38600\2166739305.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Commuting'] = None  # Initialize the column

(                       hrv_vlf     hrv_lf      hrv_hf   hrv_sdnn  hrv_rmssd  \
 DateTime
 2023-09-05 06:45:37  18.329938  74.486805  307.793673  33.022641  47.048291
 2023-09-05 06:45:38  34.752347  89.916912  300.479521  33.091427  45.721484
 2023-09-05 06:45:39  12.336668  74.660664  259.660887  32.217303  46.875000
 2023-09-05 06:45:40  10.063258  64.495943  269.992257  31.362872  45.765375
 2023-09-05 06:45:41  37.751870  69.041670  315.952129  33.684902  46.744610

                      hrv_mean_nni  hrv_median_nni  hrv_range_nni  hrv_entropy  \
 DateTime
 2023-09-05 06:45:37    777.343750          781.25        140.625     2.771736
 2023-09-05 06:45:38    779.411765          781.25        140.625     2.832357
 2023-09-05 06:45:39    778.782895          781.25        140.625     2.943622
 2023-09-05 06:45:40    778.906250          781.25        140.625     2.994956
 2023-09-05 06:45:41    781.994048          781.25        140.625     3.043634

                      eda_tonic_mean  ...  acc_l2_min  acc_acc_x_max  \
 DateTime                             ...
 2023-09-05 06:45:37        0.016847  ...        23.0           43.0
 2023-09-05 06:45:38        0.016985  ...        23.0           43.0
 2023-09-05 06:45:39        0.017323  ...        23.0           43.0
 2023-09-05 06:45:40        0.017882  ...        23.0           43.0
 2023-09-05 06:45:41        0.018158  ...        23.0           43.0

                      acc_acc_y_max  acc_acc_z_max  acc_l2_max  acc_acc_x_ptp  \
 DateTime
 2023-09-05 06:45:37          113.0          127.0  197.263783          171.0
 2023-09-05 06:45:38          113.0          127.0  197.263783          171.0
 2023-09-05 06:45:39          113.0          127.0  197.263783          171.0
 2023-09-05 06:45:40          113.0          127.0  197.263783          171.0
 2023-09-05 06:45:41          113.0          127.0  197.263783          171.0

                      acc_acc_y_ptp  acc_acc_z_ptp  acc_l2_ptp  Commuting
 DateTime
 2023-09-05 06:45:37          173.0          177.0  174.263783      S01_1
 2023-09-05 06:45:38          173.0          177.0  174.263783      S01_1
 2023-09-05 06:45:39          173.0          177.0  174.263783      S01_1
 2023-09-05 06:45:40          173.0          177.0  174.263783      S01_1
 2023-09-05 06:45:41          173.0          177.0  174.263783      S01_1

 [5 rows x 30 columns],
 array(['S01_1', None, 'S01_2', 'S01_3', 'S01_4', 'S01_5', 'S01_6',
        'S01_7', 'S01_8', 'S01_9', 'S01_10', 'S01_11', 'S01_12', 'S01_13',
        'S01_14', 'S01_15', 'S01_16', 'S01_17', 'S01_18', 'S01_19',
        'S01_20', 'S01_21', 'S01_22'], dtype=object))

In [6]:
df['Commuting'].unique()

array(['S01_1', None, 'S01_2', 'S01_3', 'S01_4', 'S01_5', 'S01_6',
       'S01_7', 'S01_8', 'S01_9', 'S01_10', 'S01_11', 'S01_12', 'S01_13',
       'S01_14', 'S01_15', 'S01_16', 'S01_17', 'S01_18', 'S01_19',
       'S01_20', 'S01_21', 'S01_22'], dtype=object)

In [7]:
# Load the env data
env_data = 'C:/Users/Tomar/dev/vehicle_indoor_comfort/summer_2023/output/tinytag_data/S01_N1.csv'
env_data = pd.read_csv(env_data)

# Display basic information and the first few rows of the CSV file
env_data.info(), env_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29961 entries, 0 to 29960
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DateTime     29961 non-null  object
 1   Temp(C)      29961 non-null  float64
 2   RH(%)        29961 non-null  float64
 3   Dewpoint(C)  29535 non-null  float64
dtypes: float64(3), object(1)
memory usage: 936.4+ KB

(None,
               DateTime  Temp(C)  RH(%)  Dewpoint(C)
 0  2023-09-05 10:33:39   25.001   53.2         14.8
 1  2023-09-05 10:34:24   24.993   53.5         14.9
 2  2023-09-05 10:35:09   24.994   53.5         14.9
 3  2023-09-05 10:35:54   25.003   53.5         14.9
 4  2023-09-05 10:36:39   25.013   53.5         14.9)

In [8]:
# Convert the 'DateTime' column to datetime type
env_data['DateTime'] = pd.to_datetime(env_data['DateTime'])

# Set 'DateTime' as the index
env_data.set_index('DateTime', inplace=True)

# Resample the data per second, using forward filling to fill missing values
csv_resampled = env_data.resample('S').ffill()

# Check the resampled data
csv_resampled.head()

C:\Users\Tomar\AppData\Local\Temp\ipykernel_38600\3545250850.py:8: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  csv_resampled = csv_data.resample('S').ffill()

                     Temp(C)  RH(%)  Dewpoint(C)
DateTime
2023-09-05 10:33:39   25.001   53.2         14.8
2023-09-05 10:33:40   25.001   53.2         14.8
2023-09-05 10:33:41   25.001   53.2         14.8
2023-09-05 10:33:42   25.001   53.2         14.8
2023-09-05 10:33:43   25.001   53.2         14.8

In [9]:
# Filter the CSV data to include only the timestamps that exist in the PKL file
csv_filtered = csv_resampled[csv_resampled.index.isin(df.index)]

# Merge the filtered CSV data with the PKL data
merged_data = csv_filtered.join(df, how='inner')

# Display the merged data information and the first few rows to confirm the merge
merged_data.info(), merged_data.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49043 entries, 2023-09-07 06:50:36 to 2023-09-16 00:01:29
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Temp(C)            49043 non-null  float64
 1   RH(%)              49043 non-null  float64
 2   Dewpoint(C)        49043 non-null  float64
 3   hrv_vlf            49043 non-null  float64
 4   hrv_lf             49043 non-null  float64
 5   hrv_hf             49043 non-null  float64
 6   hrv_sdnn           49043 non-null  float64
 7   hrv_rmssd          49043 non-null  float64
 8   hrv_mean_nni       49043 non-null  float64
 9   hrv_median_nni     49043 non-null  float64
 10  hrv_range_nni      49043 non-null  float64
 11  hrv_entropy        49043 non-null  float64
 12  eda_tonic_mean     49043 non-null  float64
 13  eda_tonic_std      49043 non-null  float64
 14  eda_tonic_sum      49043 non-null  float64
 15  eda_tonic_energy   49043 non-null  float64
 16  eda_phasic_mean    49043 non-null  float64
 17  eda_phasic_std     49043 non-null  float64
 18  eda_phasic_sum     49043 non-null  float64
 19  eda_phasic_energy  49043 non-null  float64
 20  acc_acc_x_min      49043 non-null  float64
 21  acc_acc_y_min      49043 non-null  float64
 22  acc_acc_z_min      49043 non-null  float64
 23  acc_l2_min         49043 non-null  float64
 24  acc_acc_x_max      49043 non-null  float64
 25  acc_acc_y_max      49043 non-null  float64
 26  acc_acc_z_max      49043 non-null  float64
 27  acc_l2_max         49043 non-null  float64
 28  acc_acc_x_ptp      49043 non-null  float64
 29  acc_acc_y_ptp      49043 non-null  float64
 30  acc_acc_z_ptp      49043 non-null  float64
 31  acc_l2_ptp         49043 non-null  float64
 32  Commuting          49036 non-null  object
dtypes: float64(32), object(1)
memory usage: 12.7+ MB

(None,
                      Temp(C)  RH(%)  Dewpoint(C)    hrv_vlf      hrv_lf  \
 DateTime
 2023-09-07 06:50:36   20.305   51.0          9.8  21.621721  291.718700
 2023-09-07 06:50:37   20.305   51.0          9.8  21.611134  291.312631
 2023-09-07 06:50:38   20.305   51.0          9.8  21.600547  290.906563
 2023-09-07 06:50:39   20.305   51.0          9.8  21.589960  290.500494
 2023-09-07 06:50:40   20.305   51.0          9.8  21.579373  290.094426

                         hrv_hf   hrv_sdnn  hrv_rmssd  hrv_mean_nni  \
 DateTime
 2023-09-07 06:50:36  82.458752  28.888495  33.684269    707.170317
 2023-09-07 06:50:37  82.622348  28.884024  33.692545    707.309385
 2023-09-07 06:50:38  82.785944  28.879554  33.700820    707.448452
 2023-09-07 06:50:39  82.949541  28.875084  33.709095    707.587520
 2023-09-07 06:50:40  83.113137  28.870613  33.717370    707.726587

                      hrv_median_nni  ...  acc_l2_min  acc_acc_x_max  \
 DateTime                             ...
 2023-09-07 06:50:36      703.273339  ...   25.199206           68.0
 2023-09-07 06:50:37      703.421677  ...   25.573424           68.0
 2023-09-07 06:50:38      703.570016  ...   25.573424           54.0
 2023-09-07 06:50:39      703.718354  ...   25.573424           54.0
 2023-09-07 06:50:40      703.866693  ...   25.573424           54.0

                      acc_acc_y_max  acc_acc_z_max  acc_l2_max  acc_acc_x_ptp  \
 DateTime
 2023-09-07 06:50:36           93.0          127.0  199.183333          196.0
 2023-09-07 06:50:37           93.0          121.0  199.183333          196.0
 2023-09-07 06:50:38           93.0          121.0  199.183333          182.0
 2023-09-07 06:50:39           93.0          121.0  199.183333          182.0
 2023-09-07 06:50:40           93.0          121.0  199.183333          182.0

                      acc_acc_y_ptp  acc_acc_z_ptp  acc_l2_ptp  Commuting
 DateTime
 2023-09-07 06:50:36          221.0          227.0  173.984126       None
 2023-09-07 06:50:37          221.0          221.0  173.609909      S01_2
 2023-09-07 06:50:38          221.0          221.0  173.609909      S01_2
 2023-09-07 06:50:39          221.0          221.0  173.609909      S01_2
 2023-09-07 06:50:40          221.0          221.0  173.609909      S01_2

 [5 rows x 33 columns])

In [10]:
merged_data

,Temp(C),RH(%),Dewpoint(C),hrv_vlf,hrv_lf,hrv_hf,hrv_sdnn,hrv_rmssd,hrv_mean_nni,hrv_median_nni,...,acc_l2_min,acc_acc_x_max,acc_acc_y_max,acc_acc_z_max,acc_l2_max,acc_acc_x_ptp,acc_acc_y_ptp,acc_acc_z_ptp,acc_l2_ptp,Commuting
DateTime,,,,,,,,,,,,,,,,,,,,,
2023-09-07 06:50:36,20.305,51.0,9.8,21.621721,291.718700,82.458752,28.888495,33.684269,707.170317,703.273339,...,25.199206,68.0,93.0,127.0,199.183333,196.0,221.0,227.0,173.984126,None
2023-09-07 06:50:37,20.305,51.0,9.8,21.611134,291.312631,82.622348,28.884024,33.692545,707.309385,703.421677,...,25.573424,68.0,93.0,121.0,199.183333,196.0,221.0,221.0,173.609909,S01_2
2023-09-07 06:50:38,20.305,51.0,9.8,21.600547,290.906563,82.785944,28.879554,33.700820,707.448452,703.570016,...,25.573424,54.0,93.0,121.0,199.183333,182.0,221.0,221.0,173.609909,S01_2
2023-09-07 06:50:39,20.305,51.0,9.8,21.589960,290.500494,82.949541,28.875084,33.709095,707.587520,703.718354,...,25.573424,54.0,93.0,121.0,199.183333,182.0,221.0,221.0,173.609909,S01_2
2023-09-07 06:50:40,20.305,51.0,9.8,21.579373,290.094426,83.113137,28.870613,33.717370,707.726587,703.866693,...,25.573424,54.0,93.0,121.0,199.183333,182.0,221.0,221.0,173.609909,S01_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-16 00:01:25,24.797,60.9,16.7,527.834044,506.771372,527.396147,61.003353,55.300837,1032.058190,1023.437500,...,63.245553,16.0,-12.0,-60.0,64.389440,0.0,1.0,1.0,1.143887,S01_8
2023-09-16 00:01:26,24.797,60.9,16.7,527.834044,506.771372,527.396147,61.003353,55.300837,1032.058190,1023.437500,...,63.245553,16.0,-12.0,-60.0,64.389440,0.0,1.0,1.0,1.143887,S01_8
2023-09-16 00:01:27,24.797,60.9,16.7,527.834044,506.771372,527.396147,61.003353,55.300837,1032.058190,1023.437500,...,63.245553,16.0,-12.0,-60.0,64.389440,0.0,1.0,1.0,1.143887,S01_8
2023-09-16 00:01:28,24.797,60.9,16.7,527.834044,506.771372,527.396147,61.003353,55.300837,1032.058190,1023.437500,...,63.245553,16.0,-12.0,-60.0,64.389440,0.0,1.0,1.0,1.143887,S01_8
2023-09-16 00:01:29,24.797,60.9,16.7,527.834044,506.771372,527.396147,61.003353,55.300837,1032.058190,1023.437500,...,63.245553,16.0,-12.0,-60.0,64.195015,0.0,0.0,1.0,0.949462,S01_8

In [11]:
csv_filtered

                     Temp(C)  RH(%)  Dewpoint(C)
DateTime
2023-09-07 06:50:36   20.305   51.0          9.8
2023-09-07 06:50:37   20.305   51.0          9.8
2023-09-07 06:50:38   20.305   51.0          9.8
2023-09-07 06:50:39   20.305   51.0          9.8
2023-09-07 06:50:40   20.305   51.0          9.8
...                      ...    ...          ...
2023-09-16 00:01:25   24.797   60.9         16.7
2023-09-16 00:01:26   24.797   60.9         16.7
2023-09-16 00:01:27   24.797   60.9         16.7
2023-09-16 00:01:28   24.797   60.9         16.7
2023-09-16 00:01:29   24.797   60.9         16.7

[49043 rows x 3 columns]